
<div fxLayout="row" fxLayoutAlign="space-between none" >
  <kpi *ngIf="walletRecap" [libel]="'Profit/Perte'" [value]="walletRecap.walletBalanceWithoutFees" [type]="kpiType.Money" ></kpi>
  <kpi *ngIf="walletRecap" [libel]="'Total achat'" [value]="walletRecap.buyTotal" [type]="kpiType.Money" ></kpi>
  <kpi *ngIf="walletRecap" [libel]="'Total vente'" [value]="walletRecap.sellTotal" [type]="kpiType.Money" ></kpi>
  <kpi *ngIf="walletRecap" [libel]="'Frais'" [value]="walletRecap.feeTotal" [type]="kpiType.Money" ></kpi>
  <kpi *ngIf="walletRecap" [libel]="'Bilan'" [value]="walletRecap.walletBalance" [type]="kpiType.Money" ></kpi>
</div>

<table mat-table [dataSource]="globalRecap" class="mat-elevation-z8">

  <!-- Column currency icon + symbol + name -->
  <ng-container matColumnDef="accountId">
    <th mat-header-cell *matHeaderCellDef> Crypto </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutAlign="start center" >
        <img *ngIf="element.iconUrl" class="accountIcon" src="{{element.iconUrl}}">
        <div *ngIf="!element.iconUrl" class="defaultAccountIcon"><fa-icon [icon]="defaultAccountIcon" transform="grow-9" [styles]="{'stroke': '#bdc3c7', 'color': '#bdc3c7'}"></fa-icon></div>
        <div fxLayout="column" fxLayoutAlign="center start" >
          <span class="accountId">{{element.accountId}}</span>
          <span class="accountName">{{element.accountName}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Unit price column + % variation  -->
  <ng-container matColumnDef="unitPrice">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="column" fxLayoutAlign="center start" >
        <span>{{element.unitPrice | currency:'EUR'}}</span>
        <div>
          <fa-icon *ngIf="element.unitPriceVariationPourcentage < 0" transform="shrink-5" [icon]="faArrowTrendDown" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
          <fa-icon *ngIf="element.unitPriceVariationPourcentage >= 0" transform="shrink-5" [icon]="faArrowTrendUp" [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
          <span class="variation" [ngClass]="element.unitPriceVariationPourcentage < 0 ? 'red' : 'green'">{{element.unitPriceVariationPourcentage | number:'1.1-2'}} %</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Amount column-->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Quantité </th>
    <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.1-12'}} </td>
  </ng-container>

  <!-- Amount price -->
  <ng-container matColumnDef="amountPrice">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element">{{element.amountPrice | currency:'EUR'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
