<table mat-table [dataSource]="globalRecap" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="accountId">
    <th mat-header-cell *matHeaderCellDef> Crypto </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutAlign="start center" >
        <img *ngIf="element.iconUrl" class="accountIcon" src="{{element.iconUrl}}">
        <div *ngIf="!element.iconUrl" class="defaultAccountIcon"><fa-icon [icon]="defaultAccountIcon" transform="grow-9" [styles]="{'stroke': '#bdc3c7', 'color': '#bdc3c7'}"></fa-icon></div>
        <div fxLayout="column" fxLayoutAlign="center start" >
          <span class="accountId">{{element.accountId}}</span>
          <span class="accountName">{{element.accountName}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="unitPrice">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Quantité </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="amountPrice">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.amountPrice}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
