table {
  width: 100%;
}

.accountId {
  font-weight: bold;
}

.accountName {
  font-size: 0.75em;
  color: #636e72;
}

.accountIcon {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

.defaultAccountIcon {
  width: 30px;
  padding-left: 5px;
}
